* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  font-family: 'Roboto', sans-serif;
  background: url(../src/assets/background.jpg);
  background-color: #212020;
}

body::after {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  position: absolute;
  z-index: -1;
}

h1 {
  font-size: 3.5vmin;
  font-weight: 900;
}

#user-interface {
  width: 65%;
  height: 65%;
  font-size: 1.6vmin;
  color: white;
  text-align: center;
  background-color: #212020;
  border: 2px solid #b51313;
  border-radius: 2vmin;
  box-shadow: 0 0 20vmin 1vmin rgba(181, 19, 19, 0.5);
  overflow: hidden;
}

/* =-=-=-=-= Welcome Page Styling =-=-=-=-= */
#welcome-page-container {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 8.5vmin;
}

#age-container {
  width: 100%;
  max-width: 60%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 3vmin;
  margin-top: -4vmin;
}

input {
  width: 60%;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6vmin;
  color: black;
  background-color: white;
  border-radius: 1vmin;
  padding: 1vmin 2vmin;
  border: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#start-quiz-button {
  width: 60%;
  background-color: #b51313;
  color: white;
  border-radius: 1vmin;
  padding: 1.5vmin;
  border: none;
  font-size: 1.6vmin;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

#start-quiz-button:hover {
  box-shadow: 0 0 3vmin 1vmin rgba(181, 19, 19, 0.5);
  transform: scale(1.05);
}

/* =-=-=-=-= Question Page Styling =-=-=-=-= */
#question-page-container {
  height: 100%;
}

#question-page-container main {
  height: 93%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
}

#question-image {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  border-right: 2px solid #b51313;
  border-radius: 1vmin 0 0 0;
  position: relative;
  overflow: hidden;
}

#question-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#question-explanation {
  height: 100%;
  align-content: center;
  font-size: 2.3vmin;
  font-weight: 400;
  padding: 4vmin;
  position: absolute;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s ease-in-out;
}

#question-explanation.visible {
  opacity: 1;
  visibility: visible;
}

#question-explanation::before {
  content: 'Explanation:';
  display: block;
  font-size: 3vmin;
  font-weight: 900;
  margin-bottom: 3vmin;
}

#question-explanation::after {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: -1;
}

#question-content {
  height: 100%;
  width: 70%;
  display: flex;
  align-items: flex-start;
  gap: 1.5vmin;
  padding: 6vmin;
  font-size: 3vmin;
  font-weight: 900;
}

#arrow-icon svg {
  fill: #fff;
  width: 4vmin;
}

#question-answer {
  width: 100%;
}

#answers-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  gap: 2vmin;
  margin-top: 4vmin;
  list-style: none;
}

#answers-list li {
  width: 100%;
  font-size: 2vmin;
  padding: 1.2vmin 0.8vmin;
  border: 0.2vmin solid #fff;
  border-radius: 0.7vmin;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

#answers-list:has(.selected) li {
  cursor: default;
}

#answers-list li::before {
  padding: 0.4vmin 0.8vmin;
  margin-right: 2vmin;
  border: 0.2vmin solid #fff;
  border-radius: 0.5vmin;
}

#answers-list li:nth-child(1)::before {
  content: 'A';
}

#answers-list li:nth-child(2):before {
  content: 'B';
}

#answers-list li:nth-child(3):before {
  content: 'C';
}

#answers-list li:nth-child(4):before {
  content: 'D';
}

#answers-list:not(:has(.selected)) li:hover {
  color: #000;
  background-color: #fff;
}

#answers-list:not(:has(.selected)) li:hover::before {
  border-color: #000;
}

#answers-list li.incorrect {
  background-color: #b51313;
  border-color: #b51313;
}

#answers-list li.correct {
  background-color: #1c9a10;
  border-color: #1c9a10;
}

nav {
  height: 7%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 3vmin;
  font-size: 1.6vmin;
  background-color: #b51313;
  border-radius: 0 0 0.8vmin 0.8vmin;
}

#score-buttons-container {
  display: flex;
  align-items: center;
  gap: 2vmin;
}

#score-buttons-container button {
  color: #fff;
  font-size: 1.2vmin;
  font-weight: 600;
  padding: 0.7vmin 2.7vmin;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

#score-buttons-container button:disabled {
  opacity: 0.5;
  cursor: default;
}

#score-buttons-container button:not(:disabled):hover {
  color: #000;
  background-color: #fff;
}
