*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
    url('../public/assets/background.jpg') no-repeat center/cover;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font: inherit;
}

input {
  font: inherit;
  border: none;
  outline: none;
  background: none;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

button:focus {
  outline: none;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
}

#user-interface {
  font-family: 'Roboto', sans-serif;
  width: 60dvw;
  height: 60dvh;
  font-size: 1.25rem;
  color: white;
  background-color: #212020;
  border: 2px solid #b51313;
  border-radius: 20px;
  box-shadow: 0 0 100px 20px rgba(181, 19, 19, 0.5);
  overflow: hidden;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  text-align: center;
  padding: 3%;
}

.welcome__logo {
  width: 15rem;
  margin: 0 auto;
}

.welcome__title {
  font-size: 2.81rem;
}

/* 
#age-container {
  width: 100%;
  max-width: 60%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 3vmin;
  margin-top: -4vmin;
} */

.welcome__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3dvh;
}

#user-name {
  background-color: white;
  border: 2px solid #212020;
  width: 100%;
  max-width: 55%;
  padding: 0.8em;
  border-radius: 10px;
  transition: all 0.25s ease-in-out;
}

#user-name.empty-field {
  border: 2px solid #b51313;
  box-shadow: 0 0 15px 0px #b51313;
}

#user-name.empty-field::placeholder {
  color: #b51313;
}

#start-quiz-button,
.restart__button {
  width: 100%;
  max-width: 55%;
  padding: 0.8em 0;
  border-radius: 10px;
  background-color: #b51313;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

#start-quiz-button:hover,
.restart__button:hover {
  box-shadow: 0 0 30px 10px rgba(181, 19, 19, 0.5);
  transform: scale(1.05);
}

/* =-=-=-=-= Question Page Styling =-=-=-=-= */

#question-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  height: 100%;
}

#main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  height: 93%;
}

.quiz__content {
  width: 70%;
  height: 100%;
  padding: 5%;
  position: relative;
}

.question__logo {
  width: 10%;
  position: absolute;
  right: 2vmin;
  top: 2vmin;
}

.question__title {
  display: flex;
  align-items: flex-start;
  gap: 1dvw;
  margin-bottom: 6dvh;
}

#question-number {
  font-size: 2rem;
  font-weight: 900;
  margin-right: 2rem;
  position: relative;
}

#question-number:after {
  content: '';
  position: absolute;
  margin-top: 0.5rem;
  margin-left: 0.8rem;
  width: 1em;
  height: 1em;
  background-image: url('./assets/Arrow\ 1.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.question__text {
  font-size: 2rem;
}

.quiz__media {
  width: 30%;
  height: 100%;
  position: relative;
}

#question-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#question-explanation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-content: center;
  font-weight: 400;
  padding: 2rem;
  display: none;
  z-index: 1;
  transition: all 0.25s ease-in-out;
  background-color: rgba(0, 0, 0, 0.85);
}

#question-explanation::before {
  content: 'Explanation:';
  display: block;
  font-size: 1.5rem;
  font-weight: 900;
}

#answers-list {
  display: flex;
  flex-direction: column;
  gap: 2dvh;
}

.answer {
  width: 100%;
  padding: 1rem;
  border: 2px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

#answers-list:has(.selected) li {
  cursor: default;
}

#answers-list li::before {
  padding: 0.3rem 0.6rem;
  margin-right: 1rem;
  border: 2px solid #fff;
  border-radius: 5px;
}

#answers-list li:nth-child(1)::before {
  content: 'A';
}

#answers-list li:nth-child(2):before {
  content: 'B';
}

#answers-list li:nth-child(3):before {
  content: 'C';
}

#answers-list li:nth-child(4):before {
  content: 'D';
}

#answers-list:not(:has(.selected)) li:hover {
  color: #000;
  background-color: #fff;
}

#answers-list li.incorrect {
  background-color: #b51313;
  border-color: #b51313;
}

#answers-list li.correct {
  background-color: #1c9a10;
  border-color: #1c9a10;
}

.quiz__nav {
  height: 7%;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b51313;
  border-radius: 0 0 10px 10px;
  color: #fff;
}

#progress-bar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.8dvw;
}

#progress-bar li {
  width: 1.3vmin;
  height: 1.3vmin;
  border: 2px solid #fff;
  border-radius: 50%;
}

#progress-bar li.current {
  width: 2vmin;
  height: 2vmin;
  background-color: #fff;
}

#progress-bar li.incorrect {
  background-color: #ff0000;
}

#progress-bar li.correct {
  background-color: #1c9a10;
}

.quiz__controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1dvw;
}

.quiz__controls button {
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.3rem 1.3rem;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.quiz__controls button:hover {
  color: #000;
  background-color: #fff;
}

.quiz__controls button:disabled {
  background-color: #d04a4a;
  color: #fff;
  cursor: not-allowed;
  opacity: 0.7;
}

.resultPage {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  padding: 3%;
  text-align: center;
}

#result-image {
  width: 300px;
}

@media (max-width: 1920px) {
  html {
    font-size: 14px !important;
  }

  #user-interface {
    width: 75dvw;
    height: 75dvh;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 10px !important;
  }

  #user-interface {
    width: 90dvw;
    height: 90dvh;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 16px !important;
  }

  #user-interface {
    width: 100dvw;
    min-height: 100dvh;
    font-size: 1.25rem;
    border: none;
    border-radius: 0;
    box-shadow: none;
    overflow: auto;
  }

  .welcome {
    padding: 5%;
  }

  #main {
    flex-direction: column;
  }

  #question-container {
    flex: none;
    height: auto;
  }

  .quiz__media {
    width: 100%;
    height: 50dvh;
    border-bottom: 2px solid #b51313;
  }

  .quiz__content {
    width: 100%;
  }

  .question__logo {
    display: none;
  }

  .question__title {
    flex-direction: column;
    margin-bottom: 4dvh;
  }

  .answer {
    display: flex;
    align-items: center;
  }

  .quiz__nav {
    height: auto;
    margin-top: 4dvh;
    padding: 1rem;
    justify-content: space-around;
    flex-direction: column;
  }

  .quiz__controls {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    width: 90%;
    gap: 1dvh;
  }

  .quiz__controls button {
    width: 100%;
    padding: 1rem;
  }

  #progress-bar {
    margin-bottom: 1dvh;
  }
  #progress-bar li {
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid #fff;
    border-radius: 50%;
  }

  #progress-bar li.current {
    width: 2rem;
    height: 2rem;
  }
}
